/*Footer*/
.footer {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 0.938rem 0.938rem 3.438rem 0.938rem;
	background-color: var(--secondaryColor);
}

.footer a, .footer {
	color:  var(--white);
}

.footer a {
	padding: 0.5rem;
}

.footer__logo {
	display: flex;
	align-items: center;
	color: var(--white);
    font-weight: 500;
	font-family: var(--primaryTypo);
	margin: 0;
	font-size: 1.75rem;
}

.footer__logo p {
	margin: 0;
}

.footer-img {
	height: 2.813rem;
	margin: 0 2px;
}

.footer__name {
	font-family: var(--primaryTypo);
	font-size: 1.25rem;
    text-decoration: none;
}

.copyright  {
	font-size: 0.625rem;
}

.footer__by {
	margin-top: 2rem;
	margin-bottom: 0;
	font-size: 0.75rem;
	text-align: center;
}

.footer i {
	color: var(--white);
}

.footer__list {
	display: flex;
	margin-top: 0;
	padding: 0;
	list-style-type: none;
}

.footer__list li:last-of-type {
	margin-right: 0;
}

/*Medias queries*/
@media (min-width: 768px) {
	.footer {
		display: grid;
    	grid-template-columns: 1fr 1fr;
		padding: 0.938rem 1.25rem;
		align-items: flex-start;
	}

	.footer__logo {
		margin-bottom: 1.75rem;
	}

	.footer__by {
		margin-top: 0.625rem;
		margin-bottom: 6px;
	}

	.footer__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

@media (max-width: 767px) {
	.copyright  {
		position: absolute;
		bottom: 1rem;
	}
}